#preview-album-name {
    margin-bottom: 0px !important;
    font-weight: bold;
}

#preview-artist-name {
    font-weight: bold;
}

#playlist-widget {
    font-family: 'Poppins', sans-serif;
    color: #000000;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    box-sizing: border-box;
}


/* Layout: Two columns */
#container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    height: 90vh;
}

/* Preview section */

#player-container {
    font-family: 'Poppins', sans-serif;
    background-color: #282828;
    border-radius: 20px;
    border: 5px solid #575757;
    overflow: hidden;
    width: 100%;
    max-width: 972px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s ease;
}

#playlist-main-display {
    display: flex;
    align-items: center;
    padding: 10px;
    justify-content: space-between;
}

.album-cover img {
    width: 250px;
    height: 250px;
    object-fit: cover;
    padding: 10px;
}

.track-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    color: #ffffff;
    transition: color 0.3s ease;
}

.player-controls {
    display: flex;
    margin-top: 20px;
}

.player-controls button {
    background: none;
    border: none;
    cursor: pointer;
}

.player-controls img {
    width: 30px;
    height: 30px;
    filter: invert(1);
    transition: filter 0.3s ease;
}


.pointer { 
    cursor: pointer; 
}

.audio-player {
    display: flex;
    align-items: center;
    margin-bottom: 0px;
    padding-left: 15px;
    padding-right: 15px;
}

.track-play-icon, .track-pause-icon {
    filter: invert(1);
    transition: filter 0.3s ease;
}

.js-audio-toggle {
    margin-right: 10px;
    display: flex;
}

.waveform-container {
    flex-grow: 1;
    width: 80%; /* Set to 100% of its container width */
    padding-bottom: 10px;
}

#waveform {
    padding-bottom: 10px;
}

#tracklist {
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: #242424;
    border-radius: 20px;
    width: 100%;
    max-height: 225px;
    overflow-y: auto;
    transition: background-color 0.3s ease;
}

#tracklist li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    margin: 0;
    cursor: pointer;
    border-top: 1px solid #ccc;
    background-color: #242424;
    transition: background-color 0.3s ease;
    width: 100%;  /* Ensure full width inside the container */
    box-sizing: border-box;  /* Ensure padding doesn’t affect the width */
    position: relative;
}

.track-number {
    width: 30px; /* Space reserved for the number or icons */
    text-align: center;
}

.track-number img {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.track-number-text {
    display: block;
    color: #ffffff;
    font-weight: bold;
    transition: filter 0.3s ease;
}

#tracklist li:hover .track-number .track-number-text {
    display: none; /* Hide the track number on hover */
}

#tracklist li:hover .track-number .play-icon {
    display: inline-block; /* Show play icon on hover */
}

.playing .track-number-text {
    display: none; /* Hide the track number when playing */
}

.playing .pause-icon {
    display: inline-block; /* Show pause icon when playing */
}

#tracklist li.playing {
    background-color: #1d1d1d; /* Highlight currently playing track */
}

.track-details {
    display: flex;
    flex-direction: column;
    margin-left: 15px; /* Adds space between the track number and the track details */
    flex-grow: 1; /* Make the track details take up the remaining space */
    text-align: left;
}

.track-title {
    font-size: 16px;
    font-weight: bold;
    color: #ffffff;
    transition: color 0.3s ease;
}

.track-artist {
    font-size: 12px;
    color: #666;
    margin-top: 2px;
}

.track-time {
    font-size: 14px;
    color: #ffffff;
    transition: color 0.3s ease;
    white-space: nowrap;
}

#tracklist li:hover {
    background-color: #1d1d1d;
}



#track-list {
    margin-top: -15px;
}

.track-item {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: #fff;
    border-radius: 5px;
    margin-bottom: 10px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
}

.track-item span {
    flex: 1;
}

/* Light theme toggle styles */
.light-theme #player-container {
    background-color: #ffffff;
}

.light-theme #tracklist {
    background-color: #f7f7f7;
}

.light-theme #tracklist li {
    background-color: #f7f7f7;
}

.light-theme #tracklist li:hover {
    background-color: #a8a8a8;
}

.light-theme .track-title, 
.light-theme .track-time, 
.light-theme .track-info h2, 
.light-theme .track-info h3,
.light-theme .track-number-text {
    color: #000000; /* Change album name, artist name, and text to black in light theme */
}

.light-theme .player-controls img, 
.light-theme .track-play-icon, 
.light-theme .track-pause-icon {
    filter: invert(0); /* Black icons for light theme */
}

#theme-selector {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#playlist-setup-form > div:nth-child(4) > div > button, #theme-toggle {
    margin-top: 10px;
}

@media (max-width: 768px) {
    
    #playlist-main-display {
        display: flex;
        align-items: center;
        padding: 5px;
        justify-content: space-between;
    }

    .album-cover img {
        width: 150px;
        height: 150px;
        object-fit: cover;
        padding: 10px;
    }

    .track-info {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        color: #ffffff;
        transition: color 0.3s ease;
    }

    .player-controls {
        display: flex;
        margin-top: 0px;
    }

    .player-controls button {
        background: none;
        border: none;
        cursor: pointer;
    }

    .player-controls img {
        width: 20px;
        height: 20px;
        filter: invert(1);
        transition: filter 0.3s ease;
    }
}
